%head
  %meta{charset: "UTF-8"}/
  %title Workout
  %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/responsive.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/
  
  %script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
  %script{src: "/js/g-alert.js", type: "text/javascript"}
  %script{src: "/js/jquery.carousello.js", type: "text/javascript"}
  %script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
  %script{src: "/js/jquery.isotope.js", type: "text/javascript"}
  %script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
  %script{src: "/js/jquery.parallax.js", type: "text/javascript"}
  %script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
  %script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
  %script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
  %script{src: "/js/plugins.js", type: "text/javascript"}
  %script{src: "/js/waypoints.min.js", type: "text/javascript"}
  %script{src: "/js/w-lang.js", type: "text/javascript"}
  %script{src: "/js/w-search.js", type: "text/javascript"}
  %script{src: "/js/w-tabs.js", type: "text/javascript"}
  %script{src: "/js/w-timeline.js", type: "text/javascript"}
  
  / CANVAS
  .l-canvas.type_wide.headertype_extended
    .l-canvas-h.workout

      .l-main
        .l-main-h

          .l-submain.for_pagehead.color_alternate
            .l-submain-h.g-html.i-cf
              .w-pagehead
                %ul.program-guide 
                  %li 
                    %a{href: "/cornerback_training_goals"}Training Goals
                  %li 
                    %a{href: "/cornerback_training_phases"}Phases I, II, III
                  %li 
                    %a{href: "/cornerback_training_weekly_breakdown"} Weekly Breakdown
                  %li 
                    %a{href: "/cornerback_training_schedule"}Schedule
                  %li 
                    %a{href: "/cornerback_training_workout_structure"}Workout Structure


          .l-submain.workout.program-guide
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title CORNERBACK BASICS FUNDAMENTALS
                    %h6 'DB Fundamentals'
                    %h3 Weeks 1-6
                    %h5 PHASE I: GET IN SHAPE, LEARN THE DRILLS.
                    %table.breakdown
                      %tr
                        %th WEEK
                        %th SUMMARY
                        %th SPEED
                        %th FOOTWORK
                        %th STRENGTH
                      %tr
                        %td 1
                        %td
                          %h3 'The Warm-Up'
                          %p Light workout week designed to stretch the body, stimulate muscular adaptation and establish form and technique in speed, footwork  agility drills. Focus on learning the drills. Speed training will be extremely light.
                        %td
                          2x1 Mile
                          = succeed "Strides" do
                            %br/
                        %td
                          50yd LD,
                          = succeed "Box" do
                            %br/
                        %td
                          AA
                          = succeed "18RM" do
                            %br/
                      %tr
                        %td 2
                        %td
                          %h3 'Oiling the Gears'
                          %p Moderate increases in training volume this week. Speed training will continue to be light. Footwork  agility training will increase in distance, continue to focus on mastering the drills. For weights, push through soreness, increase the weight, decrease rest.
                        %td
                          2x1 mile
                          = succeed "Strides" do
                            %br/
                        %td
                          75yd LD,
                          = succeed "Box" do
                            %br/
                        %td
                          AA
                          = succeed "16RM" do
                            %br/
                      %tr
                        %td 3
                        %td
                          %h3 'Ready for Action'
                          %p All movements should feel more natural. You will push hard this week in every area: a first taste of speed work with active recovery sprints @ 90%, increased distance and volume for footwork and agility drills, as well as a "heavier" strength training week to finish off your first 3 week micro-cycle.
                        %td
                          2x1 mile
                          = succeed "Sprints" do
                            %br/
                        %td
                          100yd LD,
                          = succeed "Box" do
                            %br/
                        %td
                          AA
                          = succeed "14RM" do
                            %br/
                      %tr
                        %td 4
                        %td
                          %h3 'Training Wheels Off'
                          %p
                            You should feel noticeable improvements in your strength, body mechanics, and endurance. It's go time! You'll be training For explosive start and short burst speed. Focus on your technique and having smooth transitions in your DB drills.
                          %p
                            Strength training will focus on building muscle for the next 3-4 weeks. Make sure your 12RM is a 12RM. Also make sure you EAT enough, DRINK enough WATER, and get enough protein to support your muscle growth.
                        %td 20yd Burst 10X, Stadiums 5X
                        %td
                          DB Drills 2X,
                          %br/
                          CA Drills 4X
                        %td MH 12RM
                      %tr
                        %td 5
                        %td
                          %h3 'Turn up the Volume'
                          %p Fight fatigue and concentrate on training with an impeccable sense of focus, detail and quality. Challenge yourself to increase your training intensity on speed workouts, footwork drills, and strength training sessions.
                        %td 20yd Burst 12X, Stadiums 6X
                        %td
                          DB Drills 2X,
                          %br/
                          CA Drills 6X
                        %td MH 10RM
                      %tr
                        %td 6
                        %td
                          %h3 'No Technique Leaks'
                          %p This is the end of Phase 1. You're cornerback and sprint technique should feel a bit more natural. Continue to focus on perfecting each rep. If you mess up, start over again. Shutdown cornerbacks DO NOT PRACTICE BAD HABITS.
                        %td 20yd Burst 14X, Stadiums 7X
                        %td
                          DB Drills 2X,
                          %br/
                          CA Drills 8X
                        %td MH 8RM
          
            %br
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title ADVANCED CORNERBACK TRAINING
                    %h6 'Advanced DB Training'
                    %h3 weeks 7-12
                    %h5 PHASE II: FASTER, STRONGER, SMARTER
                    %table.breakdown
                      %tr
                        %th WEEK
                        %th SUMMARY
                        %th SPEED
                        %th FOOTWORK
                        %th STRENGTH
                      %tr
                        %td 7
                        %td
                          %h3 'The DB Two-Step'
                          %p You should feel a lot more in control here. Not Jedi-like yet, but your breaks and bursts should be faster, without you having to think about it. You'll increase the challenge by adding advanced DB drills and longer burst drills to your speed training. Depending on your training level, its also time to phase out muscle building and start to work on building strength.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 8
                        %td
                          %h3 'Deep Cover'
                          %p Anyone who sees you on the field now will see a different player. You're into your routine but you've felt the benefits of going hard and want MORE... Don't worry, you'll get more. The high rep, slow tempo, burning muscle-building sessions will start to give way to Low rep, heavy-but-fast tempo sessions.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 9
                        %td
                          %h3 'Breaks on, Brakes Off'
                          %p Now, even the advanced DB drills are starting to feel more natural. Not polished yet, but you don't have to think about them as much. Your strength training sessions are hard and fast and, unlike muscle-buiding, they don't burn.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 10
                        %td
                          %h3 'Recover, Recover, Recover'
                          %p Your at the halfway point. Exercises don't fatigue you nearly as much as they used to, but you still need to recover from training. Go a little lighter this week and give your body time to rest.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 11
                        %td
                          %h3 'One-on-One Grid Lock'
                          %p If you know any good receivers who gave you problems before, now'd be the time to go test your self against them. You'll be suprised. It's far from over, though. Continue to focus on your goals, perfect your technique, and elevate your game. In the gym, you're pushing hard in every exercise. Every rep counts.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 12
                        %td
                          %h3 'DB Maximum Strength'
                          %p This week will show you how strong you've become. Every strength exercise, with the exception of single-joint exercises, will be tested for 2-Repetition Maximum. Make sure you properly warm up, focus, and get 'em done.  On the field, keep executing with crisp technique, and staying low in your bursts. You have passed most people now in terms of skill, but over the next six weeks you will take it to the next level and make what you do look easy.
                        %td{:colspan=> "3"} Purchase only.
            
            %br
            .l-submain-h.g-html.i-cf
              .l-content
                .l-content-h
                  .w-blogpost-text
                    %h2.section-title NEXT-LEVEL DB TRAINING
                    %h6 'Next Level DB Training'
                    %h3 weeks 13-18
                    %h5 PHASE III: HIGH-PERFORMANCE TRAINING
                    %table.breakdown
                      %tr
                        %th WEEK
                        %th SUMMARY
                        %th SPEED
                        %th FOOTWORK
                        %th STRENGTH
                      %tr
                        %td 13
                        %td
                          %h3 'Fast and Furious'
                          %p Your Max Strength training isn't over, but now you'll begin to phase in your power training. It's time to turn lead to bullets, Baby! Turn up the intensity of your speed and footwork-agility drills with the help of some equipment.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 14
                        %td
                          %h3 'Needle in a Haystack'
                          %p Trying to find other players with this level of consistency, persistence, dedication to their craft will be like trying to find a needle in a haystack. Hey, it's lonely at the top. You should start to feel how your strength is pulling you through strides and flinging you out of your breaks.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 15
                        %td
                          %h3 'Becoming a Reciever'
                          %p The whole point of this program is transform yourself into an automatic playmaker. To do that, you must keep this in mind when you train: "I am training to MAKE PLAYS." Max out in the gym, add a little more weight in your drills and sprints, and get ready to turn that strength into speed and power.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 16
                        %td
                          %h3 'Standing your Ground'
                          %p You've reached the final part of the power phase. Everything over these next three weeks will be about SPEED and EXPLOSIVENESS. You should execute these exercises as hard and fast as possible. You'll add hurdles to your DB drills to simulate going up for the pick.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 17
                        %td
                          %h3 'Locked and Loaded'
                          %p You should feel smooth and fluid when you explode. Even though you're giving it your all, it should feel like you could do it without trying.
                        %td{:colspan=> "3"} Purchase only.
                      %tr
                        %td 18
                        %td
                          %h3 'Ready for War'
                          %p Congratulations! After this week, any single soul who has the AUDACITY to line up in front of you is going to lose. You're are in the top 95+% of all of your peers.  You know and you feel it, because you've trained your body to DO IT. When receivers run routes, you complete the route for them. If they go deep, you easily outrun them to the ball. You are a PLAY-MAKING, SHUTDOWN CORNERBACK, and you make it look EASY.
                        %td{:colspan=> "3"} Purchase only.
                    
                                        
                                       
                        
                  
                .w-bloglist
                  %h4.w-bloglist-title Comments
                  =render partial: "pages/disqus"
                      
      / /MAIN
  / /CANVAS
  / FOOTER
  =render "layouts/footer"
  / /FOOTER
  %a.w-toplink{href: "#"}
    %i.icon-angle-up