<div id="page">
  <div class="container visible-phone">
    <p class="right">
      <a class="btn btn-primary scrollto" href="#secondary-nav">
        Page Menu &nbsp;
        <i class="icon-align-justify"></i>
      </a>
    </p>
  </div>
  <div class="hero-unit">
    <div class="container">
      <h6>Week 15</h6>
      <ul class="breadcrumb">
        <li>
          <a data-toggle="tab" href="#mon">M</a>
          <span class="divider">/</span>
        </li>
        <li>
          <a data-toggle="tab" href="#tue">Tu</a>
          <span class="divider">/</span>
        </li>
        <li>
          <a data-toggle="tab" href="#wed">W</a>
          <span class="divider">/</span>
        </li>
        <li>
          <a data-toggle="tab" href="#thu">Th</a>
          <span class="divider">/</span>
        </li>
        <li>
          <a data-toggle="tab" href="#fri">F</a>
          <span class="divider">/</span>
        </li>
        <li>
          <a data-toggle="tab" href="#sat">Sa</a>
        </li>
      </ul>
      <ul class="pager pull-right">
        <li>
          <a href="6d_week14.html">&larr; Week 14</a>
        </li>
        <li>
          <a href="6d_week16.html">Week 16 &rarr;</a>
        </li>
      </ul>
    </div>
    <!-- close container
    -->
  </div>
  <!-- close hero-unit
  -->
  <div class="container clearfix" id="main-content">
    <!-- begin main content
    -->
    <div class="row-fluid sidebar-right">
      <!-- begin row-fluid
      -->
      <div class="span9 primary-column">
        <!-- begin primary content
        -->
        <div class="tab-content" id="myTabContent">
          <!-- begin myTabContent
          -->
          <!-- **************** BEGIN MONDAY ****************
          -->
          <div class="tab-pane fade in active" id="mon">
            <!-- Begin tab-pane Mon
            -->
            <h2>MONDAY</h2>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Speed training</a>
              </li>
              <li class="active">
                <a href="#">lowerbody strength (20RM)</a>
              </li>
            </ul>
            <div class="groove-border-eee"></div>
            <h4>WORKOUT I:  SPEED TRAINING</h4>
            <!-- INSERT RENDER PARTIAL speedTraining_warmUp
            -->
            <%= render partial: "speedTraining_warmUp" %>
            <hr/>
            <span class="label label-inverse">WORKOUT</span>
            <h5>Advanced Speed Training w/ weights</h5>
            <div class="row-fluid exercises main-workout">
              <div class="row-fluid">
                <div class="span6">
                  <h5>1. Tuck Jumps w/ 5% BW, 5 x 25 jumps</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_tuckJumps
                    -->
                    <%= render partial: "notes_tuckJumps" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>2. Stair Bounds w/ 5% BW, 5x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_stairBounds
                    -->
                    <%= render partial: "notes_stairBounds" %>
                  </ul>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <h5>3. Broad Jumps w/ 5% BW, 20x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_broadJump
                    -->
                    <%= render partial: "notes_broadJump" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>4. 20-yard Power Sled 8x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_20ydPowerSled
                    -->
                    <%= render partial: "notes_20ydPowerSled" %>
                  </ul>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <h5>5. 40-yard Dash w/ Parachute, 6x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_40YardDashWithParachute
                    -->
                    <%= render partial: "notes_40YardDashWithParachute" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>6. 40-yard Dash, 4x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_40Yarddash
                    -->
                    <%= render partial: "notes_40Yarddash" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>7. Stadiums/Bleachers w/ 5% BW, 10x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_stadiumsBleachers
                    -->
                    <%= render partial: "notes_stadiumsBleachers" %>
                  </ul>
                </div>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL speedTraining_coolDown
            -->
            <%= render partial: "speedTraining_coolDown" %>
            <div class="wo_break">Minimum 1-hour training Break</div>
            <h4>WORKOUT II:  OLYMPIC STRENGTH TRAINING</h4>
            <!-- INSERT RENDER PARTIAL lowerbodyStrength_warmUp
            -->
            <%= render partial: "lowerbodyStrength_warmUp" %>
            <hr/>
            <div class="row-fluid">
              <span class="label label-inverse">WORKOUT</span>
              <h5>Fullbody Olympic Weight Lifting</h5>
              <div class="row-fluid">
                <div class="span12">
                  <h5>Weights: 4RM, 3.5 min rest/set</h5>
                  <h5>Weights: 3RM, 3.5 min rest/set</h5>
                  <table class="table table-striped">
                    <tr>
                      <th>Exercise</th>
                      <th>Intensity</th>
                      <th>Tempo</th>
                      <th>Volume</th>
                      <th>Rest</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">hang cleans</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB jump squats</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">power cleans</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">split squats</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB side step-up hops</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL lowerbodyStrength_coolDown
            -->
            <%= render partial: "lowerbodyStrength_coolDown" %>
          </div>
          <!-- tab-pane fade in active
          -->
          <!-- END MONDAY
          -->
          <!-- **************** BEGIN TUESDAY ****************
          -->
          <div class="tab-pane fade" id="tue">
            <!-- Begin tab-pane Tue
            -->
            <h2>TUESDAY</h2>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Footwork & Agility</a>
              </li>
              <li class="active">
                <a href="#">upperbody strength (20RM)</a>
              </li>
            </ul>
            <div class="groove-border-eee"></div>
            <h4>WORKOUT I:  FOOTWORK & AGILITY</h4>
            <!-- INSERT RENDER PARTIAL footworkAgility_warmUp
            -->
            <%= render partial: "footworkAgility_warmUp" %>
            <hr/>
            <span class="label label-inverse">WORKOUT</span>
            <h5>Weighted DB Drills + Combine Agility Drills</h5>
            <div class="row-fluid exercises">
              <div class="span6">
                <h5>DB Drills w/ 5% BW, 4x each, 30sec rest</h5>
                <ul>
                  <!-- INSERT RENDER PARTIAL workouts_dbDrills
                  -->
                  <%= render partial: "workouts_dbDrills" %>
                </ul>
                <div class="row-fluid exercises main-workout">
                  <h5>How to add weight...</h5>
                  <ul>
                    <li>Use weighted vest or shorts equal to 5% of your body weight. Round up or down as needed.</li>
                  </ul>
                </div>
              </div>
              <div class="span6">
                <h5>Combine Agility w/ 5% BW, 8x each, 45sec rest</h5>
                <ul>
                  <!-- INSERT RENDER PARTIAL workouts_combineAgility
                  -->
                  <%= render partial: "workouts_combineAgility" %>
                </ul>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL footworkAgility_coolDown
            -->
            <%= render partial: "footworkAgility_coolDown" %>
            <div class="wo_break">Minimum 1-hour training Break</div>
            <h4>WORKOUT II:  FULLBODY MAXIMUM STRENGTH TRAINING</h4>
            <!-- INSERT RENDER PARTIAL upperbodyStrength_warmUp
            -->
            <%= render partial: "upperbodyStrength_warmUp" %>
            <hr/>
            <div class="row-fluid">
              <span class="label label-inverse">WORKOUT</span>
              <h5>Fullbody maximum strength (5RM)</h5>
              <div class="row-fluid">
                <div class="span12">
                  <h5>Weights: 3RM, 3.5 min rest/set</h5>
                  <table class="table table-striped">
                    <tr>
                      <th>Exercise</th>
                      <th>Intensity</th>
                      <th>Tempo</th>
                      <th>Volume</th>
                      <th>Rest</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Step ups</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">Archeleta Ham Curls</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Press</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Bent Row</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Shoulder Press</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL upperbodyStrength_coolDown
            -->
            <%= render partial: "upperbodyStrength_coolDown" %>
          </div>
          <!-- close tab-pane fade in active
          -->
          <!-- END TUESDAY
          -->
          <!-- **************** BEGIN WEDNESDAY ****************
          -->
          <div class="tab-pane fade" id="wed">
            <!-- Begin tab-pane wed
            -->
            <h2>WEDNESDAY</h2>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Flexibility Training</a>
              </li>
              <li class="active">
                <a href="#">Rest</a>
              </li>
            </ul>
            <div class="groove-border-eee"></div>
            <h4>FLEXIBILITY TRAINING</h4>
            <!-- INSERT RENDER PARTIAL flexibilityTraining_warmUp
            -->
            <%= render partial: "flexibilityTraining_warmUp" %>
            <hr/>
            <!-- INSERT RENDER PARTIAL workouts_yoga
            -->
            <%= render partial: "workouts_yoga" %>
            <hr/>
            <!-- INSERT RENDER PARTIAL flexibilityTraining_coolDown
            -->
            <%= render partial: "flexibilityTraining_coolDown" %>
          </div>
          <!-- close tab-pane fade in active
          -->
          <!-- END WEDNESDAY
          -->
          <!-- **************** BEGIN THURSDAY ****************
          -->
          <div class="tab-pane fade" id="thu">
            <!-- Begin tab-pane Mon
            -->
            <h2>THURSDAY</h2>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Speed training</a>
              </li>
              <li class="active">
                <a href="#">lowerbody strength (20RM)</a>
              </li>
            </ul>
            <div class="groove-border-eee"></div>
            <h4>WORKOUT I:  SPEED TRAINING</h4>
            <!-- INSERT RENDER PARTIAL speedTraining_warmUp
            -->
            <%= render partial: "speedTraining_warmUp" %>
            <hr/>
            <span class="label label-inverse">WORKOUT</span>
            <h5>Advanced Speed Training w/ weights</h5>
            <div class="row-fluid exercises main-workout">
              <div class="row-fluid">
                <div class="span6">
                  <h5>1. Tuck Jumps w/ 5% BW, 5 x 25 jumps</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_tuckJumps
                    -->
                    <%= render partial: "notes_tuckJumps" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>2. Stair Bounds w/ 5% BW, 5x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_stairBounds
                    -->
                    <%= render partial: "notes_stairBounds" %>
                  </ul>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <h5>3. Broad Jumps w/ 5% BW, 20x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_broadJump
                    -->
                    <%= render partial: "notes_broadJump" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>4. 20-yard Power Sled 8x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_20ydPowerSled
                    -->
                    <%= render partial: "notes_20ydPowerSled" %>
                  </ul>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <h5>5. 40-yard Dash w/ Parachute, 6x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_40YardDashWithParachute
                    -->
                    <%= render partial: "notes_40YardDashWithParachute" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>6. 40-yard Dash, 4x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_40Yarddash
                    -->
                    <%= render partial: "notes_40Yarddash" %>
                  </ul>
                </div>
                <div class="span6">
                  <h5>7. Stadiums/Bleachers w/ 5% BW, 10x</h5>
                  <ul>
                    <!-- INSERT RENDER PARTIAL notes_stadiumsBleachers
                    -->
                    <%= render partial: "notes_stadiumsBleachers" %>
                  </ul>
                </div>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL speedTraining_coolDown
            -->
            <%= render partial: "speedTraining_coolDown" %>
            <div class="wo_break">Minimum 1-hour training Break</div>
            <h4>WORKOUT II:  OLYMPIC STRENGTH TRAINING</h4>
            <!-- INSERT RENDER PARTIAL lowerbodyStrength_warmUp
            -->
            <%= render partial: "lowerbodyStrength_warmUp" %>
            <hr/>
            <div class="row-fluid">
              <span class="label label-inverse">WORKOUT</span>
              <h5>Fullbody Olympic Weight Lifting</h5>
              <div class="row-fluid">
                <div class="span12">
                  <h5>Weights: 3RM, 3.5 min rest/set</h5>
                  <table class="table table-striped">
                    <tr>
                      <th>Exercise</th>
                      <th>Intensity</th>
                      <th>Tempo</th>
                      <th>Volume</th>
                      <th>Rest</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">hang cleans</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB jump squats</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">power cleans</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">split squats</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB side step-up hops</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL lowerbodyStrength_coolDown
            -->
            <%= render partial: "lowerbodyStrength_coolDown" %>
          </div>
          <!-- tab-pane fade in active
          -->
          <!-- END THURSDAY
          -->
          <!-- **************** BEGIN FRIDAY ****************
          -->
          <div class="tab-pane fade" id="fri">
            <!-- Begin tab-pane Tue
            -->
            <h2>FRIDAY</h2>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Footwork & Agility</a>
              </li>
              <li class="active">
                <a href="#">upperbody strength (20RM)</a>
              </li>
            </ul>
            <div class="groove-border-eee"></div>
            <h4>WORKOUT I:  FOOTWORK & AGILITY</h4>
            <!-- INSERT RENDER PARTIAL footworkAgility_warmUp
            -->
            <%= render partial: "footworkAgility_warmUp" %>
            <hr/>
            <span class="label label-inverse">WORKOUT</span>
            <h5>Advanced DB Drills + Combine Agility Drills</h5>
            <div class="row-fluid exercises">
              <div class="span6">
                <h5>Advanced DB Drills w/ 5% BW 4x each</h5>
                <ul>
                  <!-- INSERT RENDER PARTIAL workouts_advDBdrills
                  -->
                  <%= render partial: "workouts_advDBdrills" %>
                </ul>
                <div class="row-fluid exercises main-workout">
                  <h5>How to add weight...</h5>
                  <ul>
                    <li>Use weighted vest or shorts equal to 5% of your body weight. Round up or down as needed.</li>
                  </ul>
                </div>
              </div>
              <div class="span6">
                <h5>Combine Agility Drills w/ 5% BW, 8x each</h5>
                <ul>
                  <!-- INSERT RENDER PARTIAL workouts_combineAgility
                  -->
                  <%= render partial: "workouts_combineAgility" %>
                </ul>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL footworkAgility_coolDown
            -->
            <%= render partial: "footworkAgility_coolDown" %>
            <div class="wo_break">Minimum 1-hour training Break</div>
            <h4>WORKOUT II:  FULLBODY MAXIMUM STRENGTH TRAINING</h4>
            <!-- INSERT RENDER PARTIAL upperbodyStrength_warmUp
            -->
            <%= render partial: "upperbodyStrength_warmUp" %>
            <hr/>
            <div class="row-fluid">
              <span class="label label-inverse">WORKOUT</span>
              <h5>Fullbody maximum strength (5RM)</h5>
              <div class="row-fluid">
                <div class="span12">
                  <h5>Weights: 3RM, 3.5 min rest/set</h5>
                  <table class="table table-striped">
                    <tr>
                      <th>Exercise</th>
                      <th>Intensity</th>
                      <th>Tempo</th>
                      <th>Volume</th>
                      <th>Rest</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Step ups</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">Archeleta Ham Curls</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Press</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Bent Row</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">DB Shoulder Press</a>
                      </td>
                      <td>3RM</td>
                      <td>Fast</td>
                      <td>3 x 3</td>
                      <td>3.5 mins</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL upperbodyStrength_coolDown
            -->
            <%= render partial: "upperbodyStrength_coolDown" %>
          </div>
          <!-- close tab-pane fade in active
          -->
          <!-- END FRIDAY
          -->
          <!-- **************** BEGIN SATURDAY ****************
          -->
          <div class="tab-pane fade" id="sat">
            <!-- Begin tab-pane wed
            -->
            <h2>SATURDAY</h2>
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">Speed Endurance</a>
              </li>
              <li class="active">
                <a href="#">Core Strength</a>
              </li>
            </ul>
            <div class="groove-border-eee"></div>
            <h4>WORKOUT I:  SPEED ENDURANCE TRAINING</h4>
            <!-- INSERT RENDER PARTIAL speedTraining_warmUp
            -->
            <%= render partial: "speedTraining_warmUp" %>
            <hr/>
            <span class="label label-inverse">WORKOUT</span>
            <h5>Sprints</h5>
            <div class="row-fluid exercises main-workout">
              <div class="row-fluid">
                <div class="span6">
                  <h5>1. 150m Sprints 4x, walk 350m for rest</h5>
                </div>
                <div class="span6">
                  <h5>2. 100m Sprints 4x, walk 300m for rest</h5>
                </div>
              </div>
            </div>
            <hr/>
            <!-- INSERT RENDER PARTIAL speedTraining_coolDown
            -->
            <%= render partial: "speedTraining_coolDown" %>
            <div class="wo_break">Minimum 1-hour training Break</div>
            <div class="row-fluid">
              <span class="label label-inverse">WORKOUT</span>
              <h5>Core Strength Training</h5>
              <div class="row-fluid">
                <div class="span12">
                  <h5>Ab/Core Circuit</h5>
                  <table class="table table-striped">
                    <tr>
                      <th>Exercise</th>
                      <th>Intensity</th>
                      <th>Tempo</th>
                      <th>Volume</th>
                      <th>Rest</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">Ball Crunches</a>
                      </td>
                      <td>20RM</td>
                      <td>Fast</td>
                      <td>3 x 20</td>
                      <td>nonstop</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">seated torso twists (machine)</a>
                      </td>
                      <td>20RM</td>
                      <td>Fast</td>
                      <td>3 x 20</td>
                      <td>:90</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">standing ab wheel</a>
                      </td>
                      <td></td>
                      <td>Fast</td>
                      <td>3 x 21</td>
                      <td>:90</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">torso twists (cable)</a>
                      </td>
                      <td>8RM</td>
                      <td>Fast</td>
                      <td>3 x 8</td>
                      <td>2 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">back extensions</a>
                      </td>
                      <td>8RM</td>
                      <td>Fast</td>
                      <td>3 x 8</td>
                      <td>2 mins</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">Heidi circuit</a>
                      </td>
                      <td>body wt.</td>
                      <td>Fast</td>
                      <td>3 x (14/exercise)</td>
                      <td>:90</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- close tab-pane fade in active
          -->
          <!-- END SATURDAY
          -->
        </div>
        <!-- close #myTabContent
        -->
      </div>
      <!-- close span9 primary-column
      -->
      <section class="span3 sidebar secondary-column" id="secondary-nav">
        <aside class="widget clearfix">
          <h5 class="short_headline">
            <span>Training Focus</span>
          </h5>
          <ul>
            <li>
              <p>Light workout week designed to stretch the body, stimulate muscular adaptation and establish form and technique in speed, footwork & agility drills.</p>
            </li>
            <li>
              <p>Focus on learning the drills.</p>
            </li>
            <li>
              <p>Speed training will be extremely light.</p>
            </li>
          </ul>
        </aside>
        <!-- close aside widget
        -->
      </section>
      <!-- close section sidebar span3
      -->
    </div>
    <!-- close row-fluid
    -->
  </div>
  <!-- close .container id="main-content"
  -->
  <!-- close #page
  -->
  <!-- JS JQuery ================
  -->
</div>
