.v-playlist.weekly-workouts
  %ul
    %a{href: "/pages/6d_week1.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week1.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 1
            %p The Warm-up Week
    %a{href: "/pages/6d_week2.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week2.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 2
            %p Oiling the Gears
            
    %a{href: "/pages/6d_week3.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week3.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 3
            %p Ready for Action
            
    %a{href: "/pages/6d_week4.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week4.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 4
            %p Training Wheels Off
  
    %a{href: "/pages/6d_week5.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week5.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 5
            %p Turn up the Volume
    %a{href: "/pages/6d_week6.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week6.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 6
            %p No Technique Leaks
    %a{href: "/pages/6d_week7.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week7.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 7
            %p The DB Two-Step
    %a{href: "/pages/6d_week8.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week8.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 8
            %p Deep Cover
            
    %a{href: "/pages/6d_week9.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week9.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 9
            %p Break on, Breaks off
            
    %a{href: "/pages/6d_week10.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week10.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 10
            %p Recover, Recover, Recover
  
    %a{href: "/pages/6d_week11.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week11.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 11
            %p One-on-One Gridlock
    %a{href: "/pages/6d_week12.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week12.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 12
            %p DB Maximum Strength
    %a{href: "/pages/6d_week13.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week13.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 13
            %p Fast Furious
    %a{href: "/pages/6d_week14.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week14.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 14
            %p Need in a Haystack
            
    %a{href: "/pages/6d_week15.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week15.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 15
            %p Become a Receiver
            
    %a{href: "/pages/6d_week16.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week16.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 16
            %p Training Wheels Off
  
    %a{href: "/pages/6d_week17.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week17.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 17
            %p Stand your Ground
    %a{href: "/pages/6d_week18.html"}
      %li{class: request.url == "http://#{site_name}/pages/6d_week18.html" ? 'completed' : ''}
        .description 
          .v-titles
            %h4 Week 18
            %p Ready for War



    