- if @user.buy_now?
  %p
    Welcome #{@user.full_name}!
  %p You can confirm your account email through the link below:
  %p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
- else
  %p Hey #{@user.full_name}, 
  
  %p Thank you for signing up to the 6-Week Preview of the Shutdown Cornerback Training Program. You have shown that you are serious about developing your DB skills and becoming a dominant presence on the field.  
  
  %p During the first 3 weeks, you will train lightly, preparing your body for training at higher levels. You will also learn how to recover properly from a training session. 

  %p The second 3 weeks, you will pack on muscle and start more intense speed and DB footwork training. 

  %p 
    If you are finished with your preparation and would like to become the beast you should be, you can get the full program 
    = link_to "here.", "http://www.cornerbacktraining.com/upgrade"

  %p 
    For general questions or comments, contact us 
    = mail_to "cornerbacktraining@gmail.com", "here."

  %p Thank You,

  %p Dennis 