%link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lustria", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700italic,700,400italic", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic", media: "all", rel: "stylesheet", type: "text/css"}/

%link{href: "/css/style.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/rs-settings.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/motioncss.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/motioncss-widgets.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/font-awesome.css", media: "all", rel: "stylesheet", type: "text/css"}/

%link{href: "/css/magnific-popup.css", media: "all", rel: "stylesheet", type: "text/css"}/


%link{href: "/css/animation.css", media: "all", rel: "stylesheet", type: "text/css"}/
%link{href: "/css/color_5.css", media: "all", rel: "stylesheet", type: "text/css"}/

/%script{src: "/js/jquery-1.9.1.js", type: "text/javascript"}
%script{src: "/js/g-alert.js", type: "text/javascript"}
%script{src: "/js/jquery.carousello.js", type: "text/javascript"}
%script{src: "/js/jquery.flexslider.js", type: "text/javascript"}
%script{src: "/js/jquery.isotope.js", type: "text/javascript"}
%script{src: "/js/jquery.magnific-popup.js", type: "text/javascript"}
%script{src: "/js/jquery.parallax.js", type: "text/javascript"}
%script{src: "/js/jquery.simpleplaceholder.js", type: "text/javascript"}
%script{src: "/js/jquery.smoothScroll.js", type: "text/javascript"}
%script{src: "/js/jquery.themepunch.revolution.min.js", type: "text/javascript"}
%script{src: "/js/plugins.js", type: "text/javascript"}
%script{src: "/js/waypoints.min.js", type: "text/javascript"}
%script{src: "/js/w-lang.js", type: "text/javascript"}
%script{src: "/js/w-search.js", type: "text/javascript"}
%script{src: "/js/w-tabs.js", type: "text/javascript"}
%script{src: "/js/w-timeline.js", type: "text/javascript"}

-content_for :head do
  = tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY']
=content_for :body_class do
  registrations




/ MAIN
.l-canvas.type_wide.col_sidecont.headertype_extended
  .l-canvas-h.l-canvas-h
    
    .l-main
      .l-main-h

        .l-submain
          .l-submain-h.g-html.i-cf

            .pricing 
              %h4 Our 100% Money-back Guarantee. 
              %h2 Get Results or Get a Refund.
              .testimonials
                %img{src: "/img/testimonial_18.png", alt: ""}/
              .g-cols
                .one-third
                  %h1 
                    $197
                    / %span{style: "font-size: 35px; vertical-align: super; border-bottom: 1px solid #ccc;"}99

                  %ul
                    %li Position-specific training
                    %li All areas of training covered
                    %li Detailed, easy-to-follow workouts
                    %li Designed to MAXIMIZE potential
                    %li 100+ Video and Workouts
                    %li 18-weeks of speed, footwork & agility and strength training workouts
                    %li Program guide detailing all aspects of your training


                .two-thirds
                  = simple_form_for(@user, :url => upgrade_plan_path, html:{class: "card_form .g-form"}) do |f|
                    #contact_form_success_message.g-alert.type_success.with_close{style: "opacity: 0; display: none;"}
                      .g-alert-close ✕
                      .g-alert-body
                        %p
                          %b Thank You!
                          Your message was sent.
                    #contact_form_error_message.g-alert.type_error.with_close{style: "opacity: 0; display: none;"}
                      .g-alert-close ✕
                      .g-alert-body
                        %p
                    .g-form-group
                      .g-form-group-rows
                        = f.error_notification
                        = display_base_errors @user
                        .field
                          .g-form-row
                            .g-form-row-label
                              = label_tag :name_on_card, "Name on Card"
                            = text_field_tag :name_on_card, nil, name: nil, required: true
                        .field
                          .g-form-row
                            .g-form-row-label
                              = label_tag :card_number, "Credit Card Number"
                            = text_field_tag :card_number, nil, name: nil, required: true
                        .field
                          .g-form-row
                            .g-form-row-label
                              = label_tag :card_code, "Card Security Code (CVV)"
                            = text_field_tag :card_code, nil, name: nil, required: true
                        .field
                          .g-form-row
                            .g-form-row-label
                              = label_tag :coupon, "Coupon Code (if any)"
                            = text_field_tag :ccoupon, nil, name: nil, required: false
                        .field
                          .g-form-row
                            .g-form-row-label
                              = label_tag :card_month, "Card Expiration"
                            .g-cols
                              .one-half
                                = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
                              .one-half
                                = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}
                        = f.hidden_field :stripe_token
                        #stripe_error.hide{style:"color:red;margin-bottom:10px;"}
                        .form-controls
                          =f.submit "Upgrade to Full Program", class: "btn btn-large btn-primary"


/ FOOTER
.l-footer.type_normal
  .l-footer-h
    
    / subfooter: bottom
    .l-subfooter.at_bottom
      .l-subfooter-h.i-cf
        .w-copyright
          © 2016 All rights reserved.
          %a{href: ""} Train For Football
        / NAV
        / %nav.w-nav
        /   .w-nav-h
        /     .w-nav-list.layout_hor.width_auto.float_right.level_1
        /       .w-nav-list-h
        /         .w-nav-item.level_1
        /           .w-nav-item-h
        /             %a.w-nav-anchor.level_1{href: "index.html"} Home
        /         .w-nav-item.level_1.active
        /           .w-nav-item-h
        /             %a.w-nav-anchor.level_1{href: "about.html"} Pages
        /         .w-nav-item.level_1
        /           .w-nav-item-h
        /             %a.w-nav-anchor.level_1{href: "portfolio-3.html"} Portfolio
        /         .w-nav-item.level_1
        /           .w-nav-item-h
        /             %a.w-nav-anchor.level_1{href: "blog.html"} Blog
        /         .w-nav-item.level_1
        /           .w-nav-item-h
        /             %a.w-nav-anchor.level_1{href: "elements.html"} Shortcodes
        /         .w-nav-item.level_1
        /           .w-nav-item-h
        /             %a.w-nav-anchor.level_1{href: "features.html"} Features
        /         .w-nav-item.level_1
        /           .w-nav-item-h
        /             %a.w-nav-anchor.level_1{href: "contact.html"} Contact
/ /FOOTER
%a.w-toplink{href: "#"}
  %i.icon-angle-up
                    


